.color-box {
    width: 100%;
    height: 220px;
    border-radius: 12px;
    background-color: rgb(128, 128, 128);
    transition: background-color 0.3s ease;
    border: 1px solid #dee2e6;
  }
  
  .form-range {
    height: 1.5rem;
  }
  
  .form-range::-webkit-slider-thumb {
    background: currentColor;
  }